.titlebar {
    height: 26px;
    /* Standard titlebar height */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    /* Prevent text selection */
    flex-shrink: 0;
    /* Prevent shrinking when app content overflows */
    transition: background-color 0.2s, color 0.2s;
    z-index: 9999;
}

/* --- Theming --- */
.titlebar-dark {
    background-color: #0F0F0F;
    /* Matches your chart bg */
    color: #e0e0e0;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.titlebar-light {
    background-color: #ECECED;
    color: #333333;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

/* --- Drag Region --- */
.titlebar-drag-region {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 12px;
    gap: 10px;
    font-size: 13px;
    font-weight: 600;

    /* THE MAGIC WAILS PROPERTY */
    --wails-draggable: drag;
}

.app-icon {
    display: flex;
    align-items: center;
    color: #2962FF;
    /* TradingView Blue */
}

/* --- Window Controls --- */
.window-controls {
    display: flex;
    height: 100%;
    margin-right: 1.25em;
    margin-top: 0.35em;
    /* Prevent dragging when clicking buttons */
    --wails-draggable: no-drag;
}

.control-btn {
    background: transparent;
    border-radius: 7px;
    margin-top: 5px;
    border: none;
    height: 22px;
    width: 28px;
    opacity: 0.25;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: inherit;
    transition: all 175ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}

/* Hover Effects */
.titlebar-dark .control-btn:hover {
    opacity: 0.9;
    background-color: rgba(255, 174, 0, 0.25);
}

.titlebar-light .control-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

/* Close Button Special Styling */
.control-btn.close-btn:hover {
    background-color: #9e3942cb !important;
    color: #ECECED !important;
}

.control-btn:hover svg {
    transition: all 120ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.3);
}

.control-btn:active {
    transform: scale(0.8, 0.9)
}

.app-title {
    font-family: var(--sans), var(--sym), sans-serif;
}